.cta {
    margin-top: 50px;
    a {
        font-family: 'New Rocker', cursive !important;
        color: red;
        font-size: 20px;
        text-decoration: none;

        &:hover {
            color: #c8c8c8;
        }
    }
}

#events {
    overflow: hidden;
    text-align: center;

    .event {
        width: 50%;
        float: left;

        iframe {
            display: block;
            width: 90%;
            height: 400px;
            margin: 0 auto;
        }
    }
}
